---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";

import PracticeAreas from "@/components/practiceareas.astro";
---

<Layout title="Pricing">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Practice Areas</Fragment>
      <Fragment slot="desc">
        Simple & Predictable services. No Surprises.
      </Fragment>
    </Sectionhead>

    <div>
      <PracticeAreas />
    </div>
  </Container>
</Layout>
